<ion-view view-title="OVERSEAS">
    <ion-nav-bar class="bar bar-header bar-calm">
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <div class = "row lobby-row">
                <div class = "col col-33 lobby-col">
                    <dir class="lobby-item-img">
                        <a href="#/Stall" class="item-href">
                            <i class="icon icon ion-map item-icon" ></i>
                        </a>
                    </dir>
                    <dir class="lobby-item-text">
                        <i class= "item-description">攤位地圖</i>
                    </dir>
                </div>
                <div class = "col col-33 lobby-col">
                    <dir class="lobby-item-img">
                        <a href="#/school" class="item-href">
                            <i class="icon ion-ios-people item-icon" ></i>
                        </a>
                    </dir>
                    <dir class="lobby-item-text">
                        <i class= "item-description">參展學校</i>
                    </dir>
                </div>
                <div class = "col col-33 lobby-col">
                    <dir class="lobby-item-img">
                        <a href="#/Theme_events" class="item-href">
                            <i class="icon ion-android-bulb item-icon" ></i>
                        </a>
                    </dir>
                    <dir class="lobby-item-text">
                        <i class= "item-description">主題活動</i>
                    </dir>
                </div>
            </div>
            <div class = "row lobby-row">
                <div class = "col col-33 lobby-col">
                    <dir class="lobby-item-img">
                        <a href="#/traffic" class="item-href">
                            <i class="icon ion-navigate item-icon"></i>
                        </a>
                    </dir>
                    <dir class="lobby-item-text">
                        <i class= "item-description">交通資訊</i>
                    </dir>
                </div>
                <div class = "col col-33 lobby-col">
                    <dir class="lobby-item-img">
                        <a href="#/news" class="item-href">
                            <i class="icon ion-android-list item-icon" ></i>
                        </a>
                    </dir>
                    <dir class="lobby-item-text">
                        <i class= "item-description">最新消息</i>
                    </dir>
                </div>
    
                <div class = "col col-33 lobby-col">
                    <dir class="lobby-item-img">
                        <a href="#/Questionnaire" class="item-href">
                            <i class="icon ion-social-buffer item-icon" ></i>
                        </a>
                    </dir>
                    <dir class="lobby-item-text">
                        <i class= "item-description">行動問卷</i>
                    </dir>
                </div>
            </div>
            <div class = "row lobby-row">
                <div class = "col col-33 lobby-col">
                    <dir class="lobby-item-img">
                        <a href="#/photos" class="item-href">
                            <i class="icon ion-image item-icon" ></i>
                        </a>
                    </dir>
                    <dir class="lobby-item-text">
                        <i class= "item-description">活動花絮</i>
                    </dir>
                </div>
                <div class = "col col-33 lobby-col">
                    <dir class="lobby-item-img">
                        <a href="#/like_list" class="item-href">
                            <i class="icon ion-heart item-icon" ></i>
                        </a>
                    </dir>
                    <dir class="lobby-item-text">
                        <i class= "item-description">我的最愛</i>
                    </dir>
                </div>
                <div class = "col col-33 lobby-col">
                    <dir class="lobby-item-img">
                        <a href="#/others" class="item-href">
                            <i class="icon icon ion-ios-help item-icon" ></i>
                        </a>
                    </dir>
                    <dir class="lobby-item-text">
                        <i class= "item-description">其他</i>
                    </dir>
                </div>
            </div>
        </ion-list>
  </ion-content>
</ion-view>
