<ion-view view-title="OVERSEAS">
<ion-nav-bar class="bar bar-header bar-calm">

</ion-nav-bar>
    <ion-content>
        <ion-list>
            <div class = "row lobby-row">
                <div class = "col col-33 lobby-col">
                    <a href="#/Stall" class="lobby-item">
                        <i class="icon ion-map" >攤位地圖</i>
                    </a>
                </div>
                <div class = "col col-33 lobby-col">
                    <a href="#/school" class="lobby-item">
                        <i class="icon ion-ios-people" >參展學校</i>
                    </a>
                </div>
                <div class = "col col-33 lobby-col">
                    <a href="#/Theme_events" class="lobby-item">
                        <i class="icon ion-android-bulb" >主題活動</i>
                    </a>
                </div>
            </div>
            <div class = "row lobby-row">
                <div class = "col col-33 lobby-col">
                    <a href="#/traffic" class="lobby-item">
                        <i class="icon ion-navigate" >交通資訊</i>
                    </a>
                </div>
                <div class = "col col-33 lobby-col">
                    <a href="#/news" class="lobby-item">
                        <i class="icon ion-android-list" >最新消息</i>
                    </a>
                </div>
    
                <div class = "col col-33 lobby-col">
                    <a href="#/Questionnaire" class="lobby-item">
                        <i class="icon ion-social-buffer" >問卷調查</i>
                    </a>
                </div>
            </div>
            <div class = "row lobby-row">
                <div class = "col col-33 lobby-col">
                    <a href="#/photos" class="lobby-item">
                        <i class="icon ion-image" >活動花絮</i>
                    </a>
                </div>
                <div class = "col col-33 lobby-col">
                    <a href="#/like_list" class="lobby-item">
                        <i class="icon ion-heart" >我的最愛</i>
                    </a>
                </div>
                <div class = "col col-33 lobby-col">
                    <a href="#/others" class="lobby-item">
                        <i class="icon icon ion-ios-help" >其他</i>
                    </a>
                </div>
            </div>
        </ion-list>
  </ion-content>
</ion-view>
