<ion-view view-title="OVERSEAS">
<ion-nav-bar>

</ion-nav-bar>
  <ion-content>
    <ion-list>
		<div class = "row">
			<div class = "col col-33">
				<ion-item href="#/Stall">
					攤位圖
				</ion-item>
			</div>
			<div class = "col col-33">
				<ion-item href="#/school">
					參展學校
				</ion-item>
			</div>
			<div class = "col col-33">
				<ion-item href="#/Theme_events">
					主題活動
				</ion-item>
			</div>
		</div>
		<div class = "row">
			<div class = "col col-33">
				<ion-item href="#/traffic">
					交通資訊
				</ion-item>
			</div>
			<div class = "col col-33">
				<ion-item href="#/news">
					最新消息
				</ion-item>
			</div>
			<div class = "col col-33">
				<ion-item href="#/Questionnaire">
					問卷調查
				</ion-item>
			</div>
		</div>
 		<div class = "row">
			<div class = "col col-33">
				<ion-item href="#/photos">
					活動花絮
				</ion-item>
			</div>
			<div class = "col col-33">
				<ion-item href="#/like_list">
					我的最愛
				</ion-item>
			</div>
			<div class = "col col-33">
				<ion-item href="#/others">
					其他
				</ion-item>
			</div>
		</div>
    </ion-list>
  </ion-content>
</ion-view>
