<ion-view view-title="我的最愛">
    <ion-nav-bar class="bar bar-header bar-balanced">
        <ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="fitem in fList">
                <div class="row" ng-click="getSchoolinfo({{fitem.schoolnum}})">
                    <div class="col col-66 item-text-wrap">
                        {{fitem.schName}}
                    </div>
                    <div class="col col-33">
                        <i>吉隆坡悾悾:10</i><br/>
                        <i>檳城:L2</i><br/>
                        <i>亞比:E3</i><br/>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        {{test}}
    </ion-content>
</ion-view>
