<ion-view view-title="我的最愛">
    <ion-nav-bar class="bar bar-header bar-balanced">
        <ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
		<!--
        <ion-list>

            <ion-item ng-repeat="item in items">
                <div class="row">
                    <div class="col col-75">
                        {{item.schoolName}}
                    </div>
                    <div class="col col-25 ">
                        <i class="col col-10 ion-speakerphone"> {{item.layout_Number}}</i>
                    </div>
                </div>
            </ion-item>
        </ion-list>
		-->
    </ion-content>
</ion-view>
