<ion-view view-title="最新消息">
    <ion-nav-bar class="bar bar-header bar-calm">
        <ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
	<div class = "row" style = "margin-bottom:7px;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">10:00</div>
		<div class = "col" >[講座]海聯會升學講座</div>
	</div>
	<div class = "row" style = "margin-bottom:7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">11:00</div>
		<div class = "col" >[講座]海聯會升學講座</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">11:00</div>
		<div class = "col" >[講座]淡江大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">11:00</div>
		<div class = "col" >[講座]東吳大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">12:00</div>
		<div class = "col" >[講座]樹德科技大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">14:00</div>
		<div class = "col" >[講座]海聯會升學講座</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">14:00</div>
		<div class = "col" >[講座]高雄第一科大</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">14:00</div>
		<div class = "col" >[講座]銘傳大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">15:00</div>
		<div class = "col" >[講座]雲林科技大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">15:00</div>
		<div class = "col" >[講座]高雄醫學大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">16:00</div>
		<div class = "col" >[講座]海聯會升學講座</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/30</div>
		<div class = "col col-20">16:00</div>
		<div class = "col" >[講座]台東大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">10:00</div>
		<div class = "col" >[講座]海聯會升學講座</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">10:00</div>
		<div class = "col" >[講座]萬能科技大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">10:00</div>
		<div class = "col" ><a href="#/search_result" style="color:black;">[講座]暨南國際大學</a></div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">11:00</div>
		<div class = "col" >[講座]海聯會升學講座</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">11:00</div>
		<div class = "col" >[講座]中華大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">11:00</div>
		<div class = "col" >[講座]東吳大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">13:00</div>
		<div class = "col" >[講座]亞洲大學</div>
	</div><div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">13:00</div>
		<div class = "col" >[講座]逢甲大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">14:00</div>
		<div class = "col" >[講座]海聯會升學講座</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">14:00</div>
		<div class = "col" >[講座]中山大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">14:00</div>
		<div class = "col" >[講座]淡江大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">15:00</div>
		<div class = "col" >[講座]海聯會升學講座</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">15:00</div>
		<div class = "col" >[講座]開南大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#99FFFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">15:00</div>
		<div class = "col" >[講座]中國文化大學</div>
	</div>
	<div class = "row" style = "margin-bottom: 7px ;margin-right:auto;margin-left:auto;background-color:#33CCFF;">
		<div class="col col-20">10/31</div>
		<div class = "col col-20">16:00</div>
		<div class = "col" >[講座]海聯會升學講座</div>
	</div>
    </ion-content>
</ion-view>
