<ion-view view-title="行動問卷" >
	<ion-nav-bar "bar bar-header bar-calm">
		<ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
	   <div class = "col">
			<ul class="list">
				<li class="item item-checkbox">
				   	Checbox 1
				   	<label class="checkbox">
				   		<input type="checkbox">
				   	</label>
				</li>
				<li class="item item-checkbox">
				   	Checkbox 2
				   	<label class="checkbox">
				   	<input type="checkbox">
				   	</label>
				</li>
				<li class="item item-checkbox">
				   	Checkbox e
				   	<label class="checkbox">
				   	<input type="checkbox">
				   	</label>
				</li>
				<li class="item item-checkbox">
				   	Checkbox 4
				   	<label class="checkbox">
				   	<input type="checkbox">
				   	</label>
				</li>
			</ul>
	   </div>
	</ion-content>
</ion-view>
