<ion-view view-title="參展學校">
    <ion-nav-bar class="bar bar-header bar-calm">
        <ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <h1>參展學校</h1>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="請輸入關鍵字">
            </label>
            <ion-item href="#/search_area">
                Seach school
            </ion-item>
            <span class="input-label">搜尋條件</span>

        </div>
    </ion-content>
</ion-view>
