<ion-view view-title="參展學校">
    <ion-nav-bar class="bar bar-header bar-balanced">
        <ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="true">
			<div>
				<div class="school-conditionSearch">
                    <button class="button button-full button-balanced" ng-click="Filtersubmit()">搜尋</button>
                    <div class="list card">
                        <div class="item item-divider">
                            地區
                        </div>
                        <div class="item item-body">
                            <ion-checkbox ng-repeat="SchoolareaName in school_fifter" 
                                      ng-model="schoolArea"
                                      ng-change="checkedOrNotAera(SchoolareaName, schoolArea, $index)">
                            {{SchoolareaName}}
                            </ion-checkbox>
                        </div>
                    </div>
                    <div class="list card">
                        <div class="item item-divider">
                            學群
                        </div>
                        <div class="item item-body">
                            <ion-checkbox ng-repeat="Group in staudyGroup" 
                                      ng-model="staudyGroup_data"
                                      ng-change="checkedOrNotGroup(Group, staudyGroup_data, $index)">
                            {{Group}}
                            </ion-checkbox>	
                        </div>
                    </div>
				</div>
			</div>
    </ion-content>
</ion-view>
