<ion-view view-title="參展學校">
    <ion-nav-bar class="bar bar-header bar-balanced">
        <ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="true">
		<div>
			<label class="item item-input item-stacked-label">
				<input type="text" placeholder="請輸入校名">
			</label>
			<ion-item href="#/search_area" >
			<button class="button button-balanced" >搜尋</button>
			</ion-item>
		</div>
    </ion-content>
	<ion-tabs class="tabs-icon-top">
		<ion-tab title="條件式搜尋" icon="ion-compose" href="#/school_filter"></ion-tab>
        <ion-tab title="校名搜尋" icon="ion-home" href="#/school"></ion-tab>
    </ion-tabs>
</ion-view>
