<ion-view view-title="查詢列表">
    <ion-nav-bar class="bar bar-header bar-balanced">
        <ion-nav-back-button>
        </ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                搜尋結果
            </div>
			<div ng-repeat="item in searchList">
				<i class="item" ng-click="getSchoolNum('{{item.schoolnum}}')">
					{{item.schoolname}}
				</i>
			</div>			
        </div>
    </ion-content>
</ion-view>
