<ion-view view-title="教育展攤位圖">
    <ion-nav-bar class="bar bar-header bar-calm">
        <ion-nav-back-button ><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider bar bar-header bar-assertive">
                香港教育展-攤位圖
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/hk2016_layout.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>

