<ion-view view-title="主題活動">
    <ion-nav-bar class="bar bar-header bar-balanced">
        <ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="page-back">
        <h2>集章簿</h2>
        <div class="stickerbook">
            <div class="row" ng-repeat="letter in alphabet track by $index" ng-if="$index % 5 == 0">
                <div class="col"
                    ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4]" 
                    ng-if="alphabet[i] != null">
                        <ion-item class="sticker-item"><img class="full-image" data-ng-src="{{alphabet[i]}}"></img></ion-item>
                </div>
            </div>
        </div>
        <div  class="row button-area">
            <div class="col col-50 button-item">
                <button class="button button-balanced">
                    集章
                </button>
            </div>
            <div class=" col col-50 button-item">
                <button class="button button-balanced">
                    兌換
                </button>
            </div>
			<br>
			{{test}}
        </div>
  </ion-content>
</ion-view>
