<ion-view view-title="交通資訊">
    <ion-nav-bar class="bar bar-header bar-calm">
        <ion-nav-back-button> 
        <!--這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <button ng-repeat="pos in Pos_Set" class="button button-balanced area-item" ng-click="setPos(pos.name)">{{pos.name}}</button>
            </div>
            <div class="item item-body">
                <div class="col col-center map-body">
                    <div class="map-content" id="map" data-tap-disabled="true"></div>
                </div>
            </div>
        </dir>
    </ion-content>
</ion-view>
