<ion-view view-title="school">
    <ion-nav-bar class="bar bar-header bar-balanced">
        <ion-nav-back-button><!-- 這是返回鍵，直接插入即可 -->
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
<!-- 	filterResultArea:{{filterResultArea_Local}}<br>
	filterResultGroup:{{filterResultGroup_Local}}<br> -->
	{{filterSunmary}}
        <div class="list">
            <div class="item item-divider">
                搜尋結果
            </div>
			<div ng-repeat="item in searchList">
				<a class="item" href="#/search_result" ng-click="getSchoolNum('{{item.schoolnum}}')">
					{{item.schoolname}}
				</a>
			</div>			
        </div>
    </ion-content>
</ion-view>
