<ion-view view-title="Questionnaire" >
<ion-nav-bar>

</ion-nav-bar>
  <ion-content>
   <div class = "col">
		<div class = "col">
		<h2>請問您是透過什麼管道認識到臺灣的大學？<h2>
		</div>
		<ul class="list">
			<li class="item item-checkbox">
			   駐外館處/海華服務基金/華僑文教中心/留臺同學會
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   海外聯招會
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   臺灣各大學網站
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   學校老師
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   家人或同學
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   媒體文宣
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   社群網站（Google+、Facebook、twitter…etc.）
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
		</ul>
   </div>
    <ion-item href="#/Q2-1">
		下一題
	</ion-item>
  </ion-content>
</ion-view>
