<ion-view view-title="行動問卷" >
    <ion-nav-bar class="bar bar-header bar-calm">
    </ion-nav-bar>
    <ion-content>
        <div class = "col">
            <div class = "col">
                <h2>請問您是否曾瀏覽海外聯招會的網站嗎? (http://www.overseas.ncnu.edu.tw/)<h2>
            </div>
            <ion-list>
                <ion-radio ng-model="choice" ng-value="'YES'">YES</ion-radio>
                <ion-radio ng-model="choice" ng-value="'NO'">NO</ion-radio>
            </ion-list>
        <div>

		<button class="button button-block button-positive" ui-sref="Q3-1">
		  下一題
		</button>
    </ion-content>
</ion-view>
