<ion-view view-title="Questionnaire" >
<ion-nav-bar>

</ion-nav-bar>
  <ion-content>
   <div class = "col">
		<div class = "col">
		<h2>請問您曾經使用海外聯招會網站的哪項功能呢?<h2>
		</div>
		<ul class="list">
			<li class="item item-checkbox">
			   各國專區
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   招生簡章
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   學群介紹
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   IOH聽聽學長姐怎麼說
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   系所關鍵字查詢
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   系所名額查詢
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   選填志願小訣竅
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   來台就學法規
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   獎助學金
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   委員學校介紹(學校類型或地區別)
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
			<li class="item item-checkbox">
			   自招專區
			   <label class="checkbox">
			   <input type="checkbox">
			   </label>
			</li>
		</ul>
   </div>
    <ion-item href="#/Q4-1">
		下一題
	</ion-item>
  </ion-content>
</ion-view>
