/* Empty. Add your own CSS if you like */
/* Map CSS Setting(Traffic.html)*/
.scroll {
    height: 100%;
}

.map-body {
    width : 100% auto;
    height: 400px;
}

.map-body .map-content{
    width: 100%;
    height: 100%;
}
/*Lobby layout Setting(index.html)*/
.lobby-row {
    margin-top:0px; 
    margin-bottom:20px;
}
.lobby-col {
    text-align: Center;
}
.lobby-item-img  {
    padding-left:0px;
    margin-bottom: 0px;
    /*border-style:solid;*/
}
.lobby-item-text {
    padding-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*border-style:solid;*/

}
.item-href {
    color: #000050;
    text-decoration:none;
}
.item-icon {
    font-size: 50px;
}
.item-description {
    padding-left:0px; 
    font-size: 10px;
}
