/* Empty. Add your own CSS if you like */
/* 交通資訊 CSS Setting(Traffic.html)*/
.scroll {
    height: 100%;
}
.area-item {
    text-align: Center; 
    margin-right: 5px;
    width: 30%;
    height: 50%;
    font-size: 80%;
}
.map-body {
    margin-left:0px;
    width : 100% auto;
    height: 400px;
}

.map-body .map-content{
    width: 100%;
    height: 100%;
}
/*Lobby layout Setting(index.html)*/
.lobby-row {
    margin-top:0px; 
    margin-bottom:20px;
}
.lobby-col {
    text-align: Center;
}
.lobby-item-img  {
    padding-left:0px;
    margin-bottom: 0px;
    /*border-style:solid;*/
}
.lobby-item-text {
    height: 100% auto;
    padding-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*border-style:solid;*/

}
.item-href {
    color: #000050;
    text-decoration:none;
}
.item-icon {
    font-size: 400%;
}
.item-description {
    padding-left:0px; 
    font-size: 10%;
}
/*參展學校 CSS Setting(search_result.html)*/
.school-logo {
    width:100%;
    height:auto;
}
.depart-info {
    border-width:5px; 
    border-style:dashed
}
.school-description {
    padding-left: 0px;
}