/* Empty. Add your own CSS if you like */
/* Map CSS Setting(Traffic.html)*/
.scroll {
    height: 100%;
}

.map-body {
    width : 100% auto;
    height: 400px;
}

.map-body .map-content{
    width: 100%;
    height: 100%;
}
/*Lobby layout Setting(index.html)*/
.lobby-row {
    margin-top:20px; 
    margin-bottom:50px; 
}
.lobby-col {
    text-align: Center;
}
.lobby-item {
    color: #000050;
    text-decoration:none
}
.icon {
    font-size: 18px;
}