/* Empty. Add your own CSS if you like */
/* 交通資訊 CSS Setting(Traffic.html)*/
.scroll {
    height: 100%;
}
.area-item {
    text-align: Center; 
    margin-right: 5px;
    width: 30%;
    height: 50%;
    font-size: 80%;
}
.map-body {
    margin-left:0px;
    width : 100% auto;
    height: 400px;
}

.map-body .map-content{
    width: 100%;
    height: 100%;
}
/*Quest layout Setting(Q_show.html)*/
.Quest-body {
	padding:10px;
}
.Quest-option{
	text-align:right;
}
/*Lobby layout Setting(index.html)*/
.lobby-row {
    margin-top:0px; 
    margin-bottom:20px;
}
.lobby-col {
    text-align: Center;
}
.lobby-item-img  {
    margin-bottom: 0px;
}
.lobby-item-text {
    height: 100% auto;
    margin-top: -15px;
    margin-bottom: 10px;

}
.item-href {
    color: #000050;
    text-decoration:none;
}
.item-icon {
    font-size: 420%;
}
.item-description {
    padding-left:0px; 
    font-size: 50%;
}
/*參展學校 CSS Setting(search_result.html)*/
.header-favorite-icon {
    font-size: 200%;
    margin-right: 10px;
}
.school-description {
    padding-left: 0px;
}
.school-logo {
    width:100%;
    height:auto;
}
.item-body {
    padding-top:0px;
}
.depart-info {
    margin-left:20px;
    border-width:2px; 
    border-style:dashed
}
.accordion-header-div {
    color: white;
    font-weight: 50;
}
.panel > .panel-heading {
    padding: 0 !important;
    background: -webkit-linear-gradient(#0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    opacity:0.6;
    border:1px solid transparent;
}
.panel-body{
    padding: 0px !important;
    font-size: 80%;
}
/*主題活動 CSS Setting(Theme_event.html)*/
.stickerbook {
    padding-right:0px;
    padding-left: 15px;
    border-width:2px; 
    border-style:solid;
    
}
.theme-row{
    text-align: Center;
}
.sticker-item {
    padding: 0;
	width: 53px;
	height: 53px;
	border-width: 1px; 
    border-style:dashed;
}
.button-area{
    text-align: Center;
    padding-left:25px;
    /*border-width: 1px; 
    border-style:dashed;*/
}
.button-item{
    width:50%;
    text-align: Center;

}
/*school.html*/
.school-conditionSearch {
    border-width:2px; 
    border-style:dashed
}